.contact-alignment{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.contact-label{
    display: flex;
    align-items: center;
    gap: 30px;
    margin:10px ;
}


input{
    padding: 10px;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 20px;
}
.contact-image-container>img{
    width: 100%;
    height: 100%;
    border-radius: 9999px;
}

.contact-image-container{
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;
}

.contact-image-content{
    display:flex;
    align-items: center;
}
.space{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}


@media(max-width:640px){
    .contact-image-content{
        display: flex;
        flex-direction: column;
    }
    .contact-label{
        gap: 10px;
    }
}